.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6A8D92;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-chatbot-kit-chat-bot-message {

  width: 90%;
}


@media screen and (min-width: 400px) {
  .react-chatbot-kit-chat-container {

   /* width: 50% !important;*/
  }
}

.react-chatbot-kit-chat-container {
  position: relative;

  width: 275px;
  height: 100%
}

.react-chatbot-kit-chat-inner-container {
  background-color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.react-chatbot-kit-chat-header {

  border-top-left-radius: 0px;

}

.react-chatbot-kit-chat-bot-avatar-icon {
  fill: #494646;
  width: 60px;
  height: 60px;
}

.react-chatbot-kit-chat-bot-avatar-container {
  width: 70px;
  height: 70px;
}

.react-chatbot-kit-chat-bot-avatar-container {

  background-color: rgba(215, 215, 215, 0);
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: rgb(0, 0, 73);
  width: 22px;
}

.react-chatbot-kit-chat-input {
  color: #514f4f;
  }